*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/

venv/
.env

.vscode/
.idea/
*/migrations/*.pyc
*/migrations/*.log
*/migrations/__pycache__/
*/migrations/*.py

staticfiles/
media/
